<div class="header">
        <div class="login">
            <ul class="nav nav-pills">
                <li *ngIf="!userLoggedIn" class="active"><a (click)="login()">Login</a></li>
                <li *ngIf="userLoggedIn" class="active"><p>Welcome back {{userEmail}}</p><a (click)="logout()">Logout</a></li>
            </ul>
        </div>
    <div class="header-image">
        <a href="http://members.iracing.com/membersite/member/LeagueView.do?league=1000">
            <img src="/public/app/assets/images/usrc_logo.png" height="125px" width="auto">
      </a>
    </div>

    <div class="header-container">
        <h1 class="title">USRC Results</h1>

        <div class="nav-bar">
            <ul class="nav nav-pills">
                <li [routerLinkActive]="['active']" class="active"><a [routerLink]="['/home']" routerlinkactive="active">Home</a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/standings']" routerlinkactive="active">Standings</a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/races']" routerlinkactive="active">Races</a></li>
                <li *ngIf="[userPower] > 1"><a href="/upload">Upload New Race</a></li>
                <li *ngIf="[userPower] > 1" [routerLinkActive]="['active']"><a [routerLink]="['/bonus']" routerlinkactive="active">Add Bonuses</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>