<div class="col-md-5">
    <h3 class="section-title">Driver details for {{driverName}}</h3>

    <table class="table table-striped">
        <tr>
            <th>Date</th>
            <th>Track</th>
            <th>Penalty/Bonus reason</th>
            <th>Adjustment</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td style="font-weight: bold; text-align: right">Current Total:</td>
            <td style="font-weight: bold;">{{total | currency:'USD':true}}</td>
        </tr>
        <tr *ngFor="let currency of currencies">
            <td>{{currency.startTime | date}}</td>
            <td><a [routerLink]="['/races', currency.sessionId]">{{currency.track}}</a></td>
            <td>{{currency.reason}}</td>
            <td [class.negative]="currency.currencyAdjustment < 0">{{currency.currencyAdjustment | currency:'USD':true}}</td>
        </tr>
    </table>
</div>