<div class="col-md-2">
    <h1 class="section-title">Standings</h1>

    <table class="table table-striped">
        <tr>
            <th>Pos</th>
            <th>Name</th>
            <th>Total</th>
        </tr>
        <tr *ngFor="let standing of standings, let i = index">
            <td>{{i + 1}}</td>
            <td><a [routerLink]="['/drivers', standing.driverId]">{{standing.driverName}}</a></td>
            <td>{{standing.driverTotal | currency:'USD':true}}</td>
        </tr>
    </table>
</div>